<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sensor-heading">Create or edit a Sensor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sensor.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sensor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="sensor.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="sensor.status" id="field_status" >
                        <option value="STATE_NORMAL">STATE_NORMAL</option>
                        <option value="STATE_ALERT">STATE_ALERT</option>
                        <option value="STATE_INACTIVE">STATE_INACTIVE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sensorType">Sensor Type</label>
                    <select class="form-control" name="sensorType" [(ngModel)]="sensor.sensorType" id="field_sensorType" >
                        <option value="PRESSURE">PRESSURE</option>
                        <option value="TEMPERATURE">TEMPERATURE</option>
                        <option value="HUMIDITY">HUMIDITY</option>
                        <option value="ON_OFF">ON_OFF</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastAlert">Last Alert</label>
                    <div class="d-flex">
                        <input id="field_lastAlert" type="datetime-local" class="form-control" name="lastAlert" [(ngModel)]="lastAlert"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sensorGroup">Sensor Group</label>
                    <select class="form-control" id="field_sensorGroup" name="sensorGroup" [(ngModel)]="sensor.sensorGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sensorGroupOption.id === sensor.sensorGroup?.id ? sensor.sensorGroup : sensorGroupOption" *ngFor="let sensorGroupOption of sensorgroups; trackBy: trackSensorGroupById">{{sensorGroupOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sensorDevice">Sensor Device</label>
                    <select class="form-control" id="field_sensorDevice" name="sensorDevice" [(ngModel)]="sensor.sensorDevice" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sensorDeviceOption.id === sensor.sensorDevice?.id ? sensor.sensorDevice : sensorDeviceOption" *ngFor="let sensorDeviceOption of sensordevices; trackBy: trackSensorDeviceById">{{sensorDeviceOption.deviceId}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
