<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensor">
            <h2><span>Sensor</span> {{sensor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sensor.name}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sensor.status}}</span>
                </dd>
                <dt><span>Sensor Type</span></dt>
                <dd>
                    <span>{{sensor.sensorType}}</span>
                </dd>
                <dt><span>Last Alert</span></dt>
                <dd>
                    <span>{{sensor.lastAlert}}</span>
                </dd>
                <dt><span>Sensor Group</span></dt>
                <dd>
                    <div *ngIf="sensor.sensorGroup">
                        <a [routerLink]="['/sensor-group', sensor.sensorGroup?.id, 'view']">{{sensor.sensorGroup?.name}}</a>
                    </div>
                </dd>
                <dt><span>Sensor Device</span></dt>
                <dd>
                    <div *ngIf="sensor.sensorDevice">
                        <a [routerLink]="['/sensor-device', sensor.sensorDevice?.id, 'view']">{{sensor.sensorDevice?.deviceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor', sensor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
