<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="loraGateway">
            <h2><span>Lora Gateway</span> {{loraGateway.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Gateway Id</span></dt>
                <dd>
                    <span>{{loraGateway.gatewayId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{loraGateway.name}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="loraGateway.location">
                        <a [routerLink]="['/location', loraGateway.location?.id, 'view']">{{loraGateway.location?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lora-gateway', loraGateway.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
