<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sensor-device-heading">Create or edit a Sensor Device</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sensorDevice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sensorDevice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deviceId">Device Id</label>
                    <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                        [(ngModel)]="sensorDevice.deviceId" required/>
                    <div [hidden]="!(editForm.controls.deviceId?.dirty && editForm.controls.deviceId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deviceId?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="sensorDevice.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="sensorDevice.location" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === sensorDevice.location?.id ? sensorDevice.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notificationGroup">Notification Group</label>
                    <select class="form-control" id="field_notificationGroup" name="notificationGroup" [(ngModel)]="sensorDevice.notificationGroup" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="notificationGroupOption.id === sensorDevice.notificationGroup?.id ? sensorDevice.notificationGroup : notificationGroupOption" *ngFor="let notificationGroupOption of notificationgroups; trackBy: trackNotificationGroupById">{{notificationGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
