<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sensor-threshold-heading">Create or edit a Sensor Threshold</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sensorThreshold.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sensorThreshold.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="sensorThreshold.type" id="field_type" >
                        <option value="THRESHOLD_GE">THRESHOLD_GE</option>
                        <option value="THRESHOLD_LE">THRESHOLD_LE</option>
                        <option value="THRESHOLD_TIMEOUT">THRESHOLD_TIMEOUT</option>
                        <option value="THRESHOLD_RSSI">THRESHOLD_RSSI</option>
                        <option value="THRESHOLD_BATTERY_LEVEL">THRESHOLD_BATTERY_LEVEL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                        [(ngModel)]="sensorThreshold.value" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sensorDevice">Sensor Device</label>
                    <select class="form-control" id="field_sensorDevice" name="sensorDevice" [(ngModel)]="sensorThreshold.sensorDeviceId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sensorDeviceOption.id" *ngFor="let sensorDeviceOption of sensordevices; trackBy: trackSensorDeviceById">{{sensorDeviceOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sensor">Sensor</label>
                    <select class="form-control" id="field_sensor" name="sensor" [(ngModel)]="sensorThreshold.sensorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sensorOption.id" *ngFor="let sensorOption of sensors; trackBy: trackSensorById">{{sensorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sensorGroup">Sensor Group</label>
                    <select class="form-control" id="field_sensorGroup" name="sensorGroup" [(ngModel)]="sensorThreshold.sensorGroupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sensorGroupOption.id" *ngFor="let sensorGroupOption of sensorgroups; trackBy: trackSensorGroupById">{{sensorGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
