<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensorThreshold">
            <h2><span>Sensor Threshold</span> {{sensorThreshold.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sensorThreshold.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{sensorThreshold.type}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{sensorThreshold.value}}</span>
                </dd>
                <dt><span>Sensor Device</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensorDevice">
                        <a [routerLink]="['/sensor-device', sensorThreshold.sensorDevice?.id, 'view']">{{sensorThreshold.sensorDevice?.deviceId}}</a>
                    </div>
                </dd>
                <dt><span>Sensor</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensor">
                        <a [routerLink]="['/sensor', sensorThreshold.sensor?.id, 'view']">{{sensorThreshold.sensor?.name}}</a>
                    </div>
                </dd>
                <dt><span>Sensor Group</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensorGroup">
                        <a [routerLink]="['/sensor-group', sensorThreshold.sensorGroup?.id, 'view']">{{sensorThreshold.sensorGroup?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor-threshold', sensorThreshold.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
