<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensorThreshold">
            <h2><span>Sensor Threshold</span> {{sensorThreshold.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{sensorThreshold.type}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{sensorThreshold.value}}</span>
                </dd>
                <dt><span>Sensor Device</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensorDeviceId">
                        <a [routerLink]="['/sensor-device', sensorThreshold.sensorDeviceId, 'view']">{{sensorThreshold.sensorDeviceId}}</a>
                    </div>
                </dd>
                <dt><span>Sensor</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensorId">
                        <a [routerLink]="['/sensor', sensorThreshold.sensorId, 'view']">{{sensorThreshold.sensorId}}</a>
                    </div>
                </dd>
                <dt><span>Sensor Group</span></dt>
                <dd>
                    <div *ngIf="sensorThreshold.sensorGroupId">
                        <a [routerLink]="['/sensor-group', sensorThreshold.sensorGroupId, 'view']">{{sensorThreshold.sensorGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor-threshold', sensorThreshold.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
