<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notificationGroup">
            <h2><span>Notification Group</span> {{notificationGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{notificationGroup.name}}</span>
                </dd>
                <dt><span>Contact</span></dt>
                <dd>
                    <span *ngFor="let contact of notificationGroup.contacts; let last = last">
                        <a [routerLink]="['/contact', contact?.id, 'view' ]">{{contact.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="notificationGroup.company">
                        <a [routerLink]="['/company', notificationGroup.company?.id, 'view']">{{notificationGroup.company?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification-group', notificationGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
