<div id="smb-layout" onload="smb.onLoad()" class="pure-g" >
	<div class="pure-u-1-8">
    <!-- Menu toggle -->
    <a href="#smb-menu" id="smb-menuLink" class="smb-menu-link"></a>

    <div id="smb-menu">
        <div class="smb-pure-menu">

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Dashboard</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sensors</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Locations</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Notifications</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contacts</a></li>

            </ul>
        </div>
    </div>
	</div>

	<div class="pure-u-7-8">
		<div id="smb-main">
			<div class="smb-header">
				<h1>Dashboard</h1>
			</div>
			<div class="smb-content">
				<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
				  <ngb-panel title="Tampa">
					<ng-template ngbPanelContent>
						<table class="pure-table">
							<thead>
							<tr>
								<th>Device ID</th>
								<th>Name</th>
							</tr>
							</thead>
							<tbody>
								<tr>
                                    <td><a routerLink="/sensor/123">123</a></td>
									<td>Air Flow 1</td>
								</tr>
								<tr>
                                    <td><a routerLink="/sensor/456">456</a></td>
									<td>Walk-In Freezer</td>
								</tr>
							</tbody>
						</table>
					</ng-template>
				  </ngb-panel>
				  <ngb-panel title="Orlando">
					<ng-template ngbPanelContent>
						<table class="pure-table">
							<thead>
							<tr>
								<th>Device ID</th>
								<th>Name</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>789</td>
									<td>Air Flow 2</td>
								</tr>
							</tbody>
						</table>
					</ng-template>
				  </ngb-panel>
				</ngb-accordion>
			</div>
		</div>
	</div>
</div>
