
<div>
    <h3 id="page-heading">
        <span>Sensors by Locations</span>
    </h3>

    <div class="row">
        <div class="col-md-12">

            <div [ngSwitch]="isAuthenticated()">

                <!--
                    Unauthorized:   :-(
                -->
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>Warning, Unauthorized. Please </span>
                    <a class="alert-link" (click)="login()">sign in</a><span>, to access your account<br/></span>
                </div>
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>If you don't have an account, please contact your administrator.</span>&nbsp;
                </div>

                <!--
                    Authorized:     :-)
                -->
                <div *ngSwitchCase="true">
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h2>Tampa</h2>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                               <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-success btn-lg" 
													  data-toggle="tooltip" data-placement="top" title="No Fluxuations in 2 hrs.">
                                    Stress
                                </button>
                                <button type="button" class="btn btn-success btn-lg">
                                    Vibration
                                </button>
                                <button type="button" class="btn btn-success btn-lg">
                                    Radiation
                                </button>
                                <button type="button" class="btn btn-warning btn-lg">
                                    Chiller <span class="badge badge-light">4</span>
                                </button>
                               </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h2>Orlando</h2>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-info btn-lg">
                                        Flow <span class="badge badge-light">7</span>
									</button>
                                    <button type="button" class="btn btn-secondary btn-lg">
                                        Oxygen
                                    </button>
                                    <button type="button" class="btn btn-danger btn-lg">
                                        Pad Tmp
                                    </button>
                                    <button type="button" class="btn btn-warning btn-lg">
                                        Fuel Level
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel [disabled]="true">
                        <ng-template ngbPanelTitle>
                            <h2>Miami (Inactive)</h2>
                        </ng-template>
                        <ng-template ngbPanelContent>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                </div>
            </div>
        </div>
    </div>

    <jhi-alert></jhi-alert>

    <br/>

    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <!--
        <div class="table-responsive" *ngIf="locations">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Company</span></th>
                <th><span>Street Address</span></th>
                <th><span>Postal Code</span></th>
                <th><span>City</span></th>
                <th><span>State Province</span></th>
                <th><span>Company Detail</span></th>
                <th><span>Location Detail</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let location of locations ;trackBy: trackId">
                <td><a [routerLink]="['/location', location.id, 'view' ]">{{location.id}}</a></td>
                <td>{{location.name}}</td>
                <td>{{location.streetAddress}}</td>
                <td>{{location.postalCode}}</td>
                <td>{{location.city}}</td>
                <td>{{location.stateProvince}}</td>

                <td class="text-center">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company', location.companyId, 'view']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Go</span>
                        </button>
                    </div>
                </td>

                <td class="text-center">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/detail', location.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Go</span>
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    -->
</div>

<div class="row">
    <div class="col-md-12">
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span id="home-logged-message-2" *ngIf="account"> You are logged in as user "{{account.login}}". </span>
                </div>
            </div>
    </div>
</div>
