<div>
    <h2 id="page-heading">
        <span>Sensor Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor-group" [routerLink]="['/sensor-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sensor Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sensorGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Sensor Type</span></th>
            <th><span>Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sensorGroup of sensorGroups ;trackBy: trackId">
                <td><a [routerLink]="['/sensor-group', sensorGroup.id, 'view' ]">{{sensorGroup.id}}</a></td>
                <td>{{sensorGroup.name}}</td>
                <td>{{sensorGroup.sensorType}}</td>
                <td>
                    <div *ngIf="sensorGroup.companyId">
                        <a [routerLink]="['../company', sensorGroup.companyId , 'view' ]" >{{sensorGroup.companyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sensor-group', sensorGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sensor-group', sensorGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sensor-group/'+ sensorGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
