<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensorGroup">
            <h2><span>Sensor Group</span> {{sensorGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sensorGroup.name}}</span>
                </dd>
                <dt><span>Sensor Type</span></dt>
                <dd>
                    <span>{{sensorGroup.sensorType}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="sensorGroup.companyId">
                        <a [routerLink]="['/company', sensorGroup.companyId, 'view']">{{sensorGroup.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor-group', sensorGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
