<div>
    <h2 id="page-heading">
        <span>Lora Packets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lora-packet" [routerLink]="['/lora-packet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lora Packet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="loraPackets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Gateway Id</span></th>
            <th><span>Rssi</span></th>
            <th><span>Timestamp</span></th>
            <th><span>Temperature Farenheit</span></th>
            <th><span>Pressure Psi</span></th>
            <th><span>Sensor Device</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loraPacket of loraPackets ;trackBy: trackId">
                <td><a [routerLink]="['/lora-packet', loraPacket.id, 'view' ]">{{loraPacket.id}}</a></td>
                <td>{{loraPacket.gatewayId}}</td>
                <td>{{loraPacket.rssi}}</td>
                <td>{{loraPacket.timestamp | date:'medium'}}</td>
                <td>{{loraPacket.temperatureFarenheit}}</td>
                <td>{{loraPacket.pressurePsi}}</td>
                <td>
                    <div *ngIf="loraPacket.sensorDeviceId">
                        <a [routerLink]="['../sensor-device', loraPacket.sensorDeviceId , 'view' ]" >{{loraPacket.sensorDeviceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lora-packet', loraPacket.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lora-packet', loraPacket.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lora-packet/'+ loraPacket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
