<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="loraPacket">
            <h2><span>Lora Packet</span> {{loraPacket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Message Id</span></dt>
                <dd>
                    <span>{{loraPacket.messageId}}</span>
                </dd>
                <dt><span>Gateway Id</span></dt>
                <dd>
                    <span>{{loraPacket.gatewayId}}</span>
                </dd>
                <dt><span>Rssi</span></dt>
                <dd>
                    <span>{{loraPacket.rssi}}</span>
                </dd>
                <dt><span>Timestamp</span></dt>
                <dd>
                    <span>{{loraPacket.timestamp}}</span>
                </dd>
                <dt><span>Temperature Farenheit</span></dt>
                <dd>
                    <span>{{loraPacket.temperatureFarenheit}}</span>
                </dd>
                <dt><span>Pressure Psi</span></dt>
                <dd>
                    <span>{{loraPacket.pressurePsi}}</span>
                </dd>
                <dt><span>Frequency</span></dt>
                <dd>
                    <span>{{loraPacket.frequency}}</span>
                </dd>
                <dt><span>Data Rate</span></dt>
                <dd>
                    <span>{{loraPacket.dataRate}}</span>
                </dd>
                <dt><span>Sensor Device</span></dt>
                <dd>
                    <div *ngIf="loraPacket.sensorDeviceId">
                        <a [routerLink]="['/sensor-device', loraPacket.sensorDeviceId, 'view']">{{loraPacket.sensorDeviceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lora-packet', loraPacket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
