<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-heading">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="contact.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_alertPhoneNumber">Alert Phone Number</label>
                    <input type="text" class="form-control" name="alertPhoneNumber" id="field_alertPhoneNumber"
                        [(ngModel)]="contact.alertPhoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_alertEmail">Alert Email</label>
                    <input type="text" class="form-control" name="alertEmail" id="field_alertEmail"
                        [(ngModel)]="contact.alertEmail" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="contact.company" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === contact.company?.id ? contact.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
