<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Alert Phone Number</span></dt>
                <dd>
                    <span>{{contact.alertPhoneNumber}}</span>
                </dd>
                <dt><span>Alert Email</span></dt>
                <dd>
                    <span>{{contact.alertEmail}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="contact.companyId">
                        <a [routerLink]="['/company', contact.companyId, 'view']">{{contact.companyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
